body{
    position: relative;
}
section:before {
    height: 54px;
    content: "";
    display:block;
}

nav li {
    border-bottom: 2px transparent solid;
}

nav li:hover{
    border-bottom: 2px white solid;
}

nav .active {
    border-bottom: 2px white solid;    
}

#logo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    object-position: -1px 1px;
}

#my-work img{
    object-fit: cover;
}

.project img {
    
    width: 300px;
    height: 300px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.project-description{
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project:hover img{
    filter: brightness(20%)
}
.project:hover .project-description{
    opacity:1;
}

#gh-link{
    text-decoration-line: underline;
}

#skills i{
    font-size: 6rem;
}

#skills i:hover{
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

#skills-description{
    font-size: 2rem;
}

footer{
    height: 7rem;
    font-size: 1.5rem;
}

#heading{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: 2s;
}

#logo{
    opacity: 0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-delay: 1s;
}

#hello-text{
    opacity: 0;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}

#description{
    opacity: 0;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 2s;
}

#email-success{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: .7s;
}

#email-failure{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: .7s;
}

footer a {
    color:white;
    font-size: 3rem; 
}

footer a:hover{
    color: gray;
}

footer p {
    margin-left: 1rem;
    font-size: 1rem;
}  

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }